.setting-icon {
    position: absolute;
    left    : 5px;
    top     : 5px;
    cursor  : pointer;
    color   : white;
}

.setting-content,
.MuiPaper-root {
    width: 300px;
}

.MuiBackdrop-root {
    background-color: transparent !important
}

.MuiPaper-root {
    padding: 0px 15px;
    .setting-item {
        margin-top: 10px;
        .setting-title {
            color: #313235;
            margin-bottom: 2px;
        }
        .setting-operator {
            display        : flex;
            justify-content: space-between;

            .setting-slider {
                flex-grow: 1;
            }

            .setting-label {
                display: inline-block;
                color: rgb(63, 60, 60);
                &:first-child {
                    padding-right: 8px;
                }

                &:last-child {
                    padding-left: 8px;
                }
            }
        }
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .game-control {
        .control-item {
            font-size: 20px;
            margin: 5px 0px;
            display: flex;
            align-items: center;

            .icon {
                margin-right: 10px;
            }
        }
    }
    .game-info {
        line-height: 30px;
        .description {
            margin-bottom: 20px;
        }
        .label {
            margin-right: 5px;
        }
    }
}
